[submodule "final-project-t2-1"]
	path = final-project-t2-1
	url = https://github.com/desire14/Final-Project-T2-1.git
[submodule "final-project-t2-2"]
	path = final-project-t2-2
	url = https://github.com/desire14/Final-Project-T2-2.git
